<p>
#if($metadata)
<span style="text-decoration: underline;font-size: x-large;color: royalblue;">Metadata Validation </span>
#else
<span style="text-decoration: underline;font-size: x-large;color: royalblue;">XDM Validation </span>
#end
<br /><br />

#set($hasError = false)
#foreach( $reportToken in $validationReport )
	#if($reportToken.hasError())
		#set($hasError = true)
	#end
#end

#if($hasError)
	<span style="color: red;">Summary: Errors were found</span>
#else
	<span style="color: black;">Summary: No errors were found</span>
#end

<br /><br />

<table style="text-align: left; width: 100%; margin: 5px; empty-cells: show;">
    	

#foreach( $reportToken in $validationReport )
		
		<tr>
    	<td>$reportToken.getStatus()</td><td style="color: $reportToken.getColor(); font-weight: $reportToken.getBold();">$reportToken.getMsg()</td>
    	</tr>

#end

</table>
</p>
