<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!--

		These 3 parameters are no longer used.
	-->
  

<!--  Server settings  
	<context-param>
		<param-name>actors-file-location</param-name>
		<param-value>/Users/ebxmlrr/toolkittmp/actors.xml</param-value>
		<description>Local configuration location for actors.xml file. Tool
			will look here first. If this file cannot be opened then the 
			internal copy will be used. Internal copy cannot be updated, 
			only referenced. If this file does not exist but its
			directory does, then first edit will initialize from internal 
			copy and then save to this location.</description>
	</context-param>

	<context-param>
		<param-name>admin-password</param-name>
		<param-value>easy</param-value>
		<description>Needed for saving configurations</description>
	</context-param>

	<context-param>
		<param-name>message-db-path</param-name>
		<param-value>/Users/ebxmlrr/toolkittmp/simdb</param-value>
		<description>File system location for simulator database.</description>
	</context-param>

    -->

	<!-- 
  
  	End of configuration parameters.
  
   -->

<!--  The filter is necessary so the simulator response headers can be captured for the message log -->
	<filter>
		<filter-name>response-header-log</filter-name>
		<filter-class>gov.nist.toolkit.xdstools2.server.simulator.support.SimServletFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>response-header-log2</filter-name>
		<filter-class>gov.nist.toolkit.xdstools2.server.simulator.support.SimServletFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>response-header-log</filter-name>
		<url-pattern>/sim/*</url-pattern>
	</filter-mapping>
 
	<filter-mapping>
		<filter-name>response-header-log2</filter-name>
		<url-pattern>/xdstools2/sim/*</url-pattern>
	</filter-mapping>
	
	<listener>
   		<listener-class>gov.nist.toolkit.xdstools2.server.SessionListener</listener-class>
	</listener>
 
	<listener>
   		<listener-class>gov.nist.toolkit.xdstools2.server.MyServletContextListener</listener-class>
	</listener>
 
	<servlet>
		<servlet-name>toolkitServlet</servlet-name>
		<servlet-class>gov.nist.toolkit.xdstools2.server.ToolkitServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>pidAllocateServlet</servlet-name>
		<servlet-class>gov.nist.toolkit.xdstools2.server.PidAllocateServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>gov.nist.toolkit.xdstools2.server.upload.UploadServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>simulatorServlet</servlet-name>
		<servlet-class>gov.nist.toolkit.xdstools2.server.simulator.support.SimServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>simulatorServlet2</servlet-name>
		<servlet-class>gov.nist.toolkit.xdstools2.server.simulator.support.SimServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>messageServlet</servlet-name>
		<servlet-class>gov.nist.toolkit.xdstools2.server.simulator.support.SimServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>toolkitServlet</servlet-name>
		<url-pattern>/xdstools2/toolkit</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>pidAllocateServlet</servlet-name>
		<url-pattern>/xdstools2/pidAllocate</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>/xdstools2/upload</url-pattern>
	</servlet-mapping>
 
	<servlet-mapping>
		<servlet-name>messageServlet</servlet-name>
		<url-pattern>/xdstools2/message/*</url-pattern>
	</servlet-mapping>
 
	<servlet-mapping>
		<servlet-name>messageServlet</servlet-name>
		<url-pattern>/message/*</url-pattern>
	</servlet-mapping>
 
	<servlet-mapping>
		<servlet-name>simulatorServlet</servlet-name>
		<url-pattern>/sim/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>simulatorServlet</servlet-name>
		<url-pattern>/xdstools2/sim/*</url-pattern>
	</servlet-mapping>

	<!--
		session times out in 15 minutes (default is 30 minutes)
		<session-config> <session-timeout>15</session-timeout>
		</session-config>
	-->

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Xdstools2.html</welcome-file>
	</welcome-file-list>

</web-app>
