div.link-list {
        width:14.2em;
        position:absolute;
        top:0;
        font-size:80%;
        padding-left:1%;
        padding-right:1%;
        margin-left:0;
        margin-right:0;
}
/* we leave some place on the side using the margin-* properties */
#main {
        margin-left:14.2em;
        margin-right:10.2em;
        padding-left:1em;
        padding-right:1em;
}

div.top {
		font-size: 150%
}

/* and then we put each list on its place */
#list1 {
        left:0;
}
#list2 {
        right:0;
}

div.left-text {
	text-align: left;
        font-size:80%;
	position:absolute;
}

div.mid-text {
	text-align: center;
        font-size:80%;
	margin-left:30%;
	position:absolute;
}

div.right-text {
	text-align: right;
        font-size:80%;
	margin-left:70%;
	position:absolute;
}

div.relative {
	position:relative;
}
