/** Add css rules here for your application. */

.tk-ContentHeader-Label {
  color: cornflowerblue;
  padding: 10px 0px 10px 10px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  vertical-align: middle;
  text-align: left;
}

.tk-Logo-Label {
  color: aliceblue;
  font-size: 18px;
  font-weight: bold;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
